{% extends "base.html" %} 
{% block title %}Lobby{% endblock %} 
{% block head %} 
{{ super() }} 
{% endblock %} 
{% block js %}
<script src="{{ url_for('static', filename='js/lobby.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                <a class="navbar-brand" href="/">RPS!</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Main</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="/logout">Logout</a></li>
                    {% else %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="container">
    {% if current_user.is_authenticated %}
    <input type="button" value="Create Room" id="lobby-create-room">
    {% else %}
    <input type="button" value="Create Room" id="lobby-create-room" disabled>
    {% endif %}
    <input type="text" id="room-password" placeholder="Optional Password" size="15">
    <input type="button" value="Refresh Rooms" id="lobby-refresh-rooms">
</div>
<br />
<div class="container rooms">
    <!-- should be populated using javascript -->
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Main Lobby Chat</div>
        <div class="panel-body chat-box" style="max-height: 500px; min-height: 500px; overflow-y: scroll;">
            <div class="chat-text"></div>
        </div>
        <div class="panel-footer">
            <div class="chat-input">
                <input type="text" class="form-control" id="chat-input-text" placeholder="Enter text here...">
            </div>
        </div>
    </div>
</div>
{% endblock %}
