{% extends "base.html" %} 
{% block title %}Register{% endblock %} 
{% block head %} {{ super() }} {% endblock %} 
{% block js %} {% endblock %} 
{% block content %}
<div class="container">
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                <a class="navbar-brand" href="/">RPS!</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Main</a></li>
                    <li class="active"><a href="#">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="container">

    {% if error %}
    <div class="alert alert-danger">
        <strong>Error:</strong> {{ error }}
    </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="reg-username">Username</label>
                    <input type="text" name="username" class="form-control" id="reg-username" placeholder="Username">
                </div>

                <div class="form-group">
                    <label for="reg-password">Password</label>
                    <input type="password" name="password" class="form-control" id="reg-password" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
