<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group ">
                        <label class="col-sm-2 control-label " for="usernameInput ">Username</label>
                        <input type="username " class="form-control " id="usernameInput " placeholder="Username " />
                        <label class="col-sm-2 control-label " for="passwordInput ">Password</label>
                        <input type="password " class="form-control " id="passwordInput " placeholder="Password " />
                    </div>
                </form>
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-primary ">Login</button>
                <button type="button " class="btn btn-secondary " data-dismiss="modal ">Close</button>
            </div>
        </div>
    </div>
</div>